Repository MercurySeven/project-docs, pull requests merged in 2021-04, with the labels that each got.

#51 Fix AdR
  Esterni/AnalisiDeiRequisiti/UML/UC2.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC3.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC4.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC6.mdj
  Esterni/AnalisiDeiRequisiti/components/casiuso.tex
  Esterni/AnalisiDeiRequisiti/components/fonte_requisiti.tex
  Esterni/AnalisiDeiRequisiti/components/img/UC2.png
  Esterni/AnalisiDeiRequisiti/components/img/UC3.png
  Esterni/AnalisiDeiRequisiti/components/img/UC4.png
  Esterni/AnalisiDeiRequisiti/components/img/UC6.png
  Esterni/AnalisiDeiRequisiti/components/registro_modifiche.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_fonte.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_funzionali.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc17.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc2.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc3.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc4.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc6.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc9.tex
  Esterni/AnalisiDeiRequisiti/informazioni.tex
  Stile/mercuryseven.sty
Labels: Analisi dei Requisiti, Da approvare

#55 Manuale sviluppatore
  .github/workflows/ci.yml
  Esterni/ManualeSviluppatore/ManualeSviluppatore.tex
  Esterni/ManualeSviluppatore/components/c1-Introduzione-MS.tex
  Esterni/ManualeSviluppatore/components/c2-Tecnologie_librerie-MS.tex
  Esterni/ManualeSviluppatore/components/c3-Setup_ide-MS.tex
  Esterni/ManualeSviluppatore/components/c4-Test-MS.tex
  Esterni/ManualeSviluppatore/components/c5-Architettura-MS.tex
  Esterni/ManualeSviluppatore/components/glossario-MS.tex
  Esterni/ManualeSviluppatore/components/img/diagramma-classi-container.png
  Esterni/ManualeSviluppatore/components/img/diagramma-classi-model.png
  Esterni/ManualeSviluppatore/components/img/diagramma-classi-view.png
  Esterni/ManualeSviluppatore/components/img/diagramma-package.png
  Esterni/ManualeSviluppatore/components/img/diagramma-sequenza-login.png
  Esterni/ManualeSviluppatore/components/img/diagramma-sequenza-sincronizzazione.png
  Esterni/ManualeSviluppatore/components/img/mvc-generico.png
  Esterni/ManualeSviluppatore/components/img/observer-implementazione.png
  Esterni/ManualeSviluppatore/components/img/proxy-model.PNG
  Esterni/ManualeSviluppatore/components/img/singleton-model.PNG
  Esterni/ManualeSviluppatore/components/img/strategy-model.PNG
  Esterni/ManualeSviluppatore/components/registro_modifiche.tex
  Esterni/ManualeSviluppatore/informazioni.tex
  Stile/mercuryseven.sty
Labels: Da approvare, Manuale Manutentore

#56 Manuale utente
  .github/workflows/ci.yml
  Esterni/ManualeUtente/ManualeUtente.tex
  Esterni/ManualeUtente/components/c1-Introduzione-MU.tex
  Esterni/ManualeUtente/components/c2-Requisiti_minimi_sistema-MU.tex
  Esterni/ManualeUtente/components/c3-Installazione-MU.tex
  Esterni/ManualeUtente/components/c4-Istruzioni_per_utilizzo-MU.tex
  Esterni/ManualeUtente/components/glossario-MU.tex
  Esterni/ManualeUtente/components/img/Windows-istruzione-1.png
  Esterni/ManualeUtente/components/img/avvio.png
  Esterni/ManualeUtente/components/img/file-view.png
  Esterni/ManualeUtente/components/img/linux-istruzione-1.jpg
  Esterni/ManualeUtente/components/img/login.png
  Esterni/ManualeUtente/components/img/selezione-path.png
  Esterni/ManualeUtente/components/img/settings.png
  Esterni/ManualeUtente/components/registro_modifiche.tex
  Esterni/ManualeUtente/informazioni.tex
  Stile/mercuryseven.sty
Labels: Da approvare, Manuale Utente

#58 Piano di progetto
  Esterni/PianoDiProgetto/components/Pianificazione.tex
  Esterni/PianoDiProgetto/components/analisi_rischi.tex
  Esterni/PianoDiProgetto/components/attualizzazione.tex
  Esterni/PianoDiProgetto/components/consuntivo.tex
  Esterni/PianoDiProgetto/components/img/Analisi-consolidamento-isto.png
  Esterni/PianoDiProgetto/components/img/Analisi-consolidamento-torta.png
  Esterni/PianoDiProgetto/components/img/Analisi-isto.png
  Esterni/PianoDiProgetto/components/img/Analisi-torta.png
  Esterni/PianoDiProgetto/components/img/Analisi_isto.png
  Esterni/PianoDiProgetto/components/img/Architettura-isto.png
  Esterni/PianoDiProgetto/components/img/Architettura-torta.png
  Esterni/PianoDiProgetto/components/img/Sprint-10-11-isto.png
  Esterni/PianoDiProgetto/components/img/Sprint-10-11-torta.png
  Esterni/PianoDiProgetto/components/img/Sprint-8-9-isto.png
  Esterni/PianoDiProgetto/components/img/Sprint-8-9-torta.png
  Esterni/PianoDiProgetto/components/img/Totale-non-rendicontate-isto.png
  Esterni/PianoDiProgetto/components/img/Totale-non-rendicontate-torta.png
  Esterni/PianoDiProgetto/components/img/Totale-rendicontate-isto.png
  Esterni/PianoDiProgetto/components/img/Totale-rendicontate-torta.png
  Esterni/PianoDiProgetto/components/img/analisi_torta.png
  Esterni/PianoDiProgetto/components/img/architettura_isto.png
  Esterni/PianoDiProgetto/components/img/architettura_torta.png
  Esterni/PianoDiProgetto/components/img/consolidamento_isto.png
  Esterni/PianoDiProgetto/components/img/consolidamento_torta.png
  Esterni/PianoDiProgetto/components/img/dettaglio_isto.png
  Esterni/PianoDiProgetto/components/img/dettaglio_torta.png
  Esterni/PianoDiProgetto/components/img/rendiconto_isto.png
  Esterni/PianoDiProgetto/components/img/rendiconto_torta.png
  Esterni/PianoDiProgetto/components/img/tot_torta.png
  Esterni/PianoDiProgetto/components/img/totale_isto.png
  Esterni/PianoDiProgetto/components/img/validazione_isto.png
  Esterni/PianoDiProgetto/components/img/validazione_torta.png
  Esterni/PianoDiProgetto/components/modello_sviluppo.tex
  Esterni/PianoDiProgetto/components/preventivo.tex
  Esterni/PianoDiProgetto/components/registro_modifiche.tex
  Esterni/PianoDiProgetto/informazioni.tex
  Stile/mercuryseven.sty
Labels: Da approvare, Da verificare, Piano di Progetto

#49 Fix Pdq
  Esterni/PianoDiQualifica/components/A_resoconto_attivita_di_verifica.tex
  Esterni/PianoDiQualifica/components/introduzione.tex
  Esterni/PianoDiQualifica/components/qualita_del_prodotto.tex
  Esterni/PianoDiQualifica/components/registro_modifiche.tex
  Esterni/PianoDiQualifica/components/test_sistema.tex
  Esterni/PianoDiQualifica/immagini/GulpeaseRP.png
  Esterni/PianoDiQualifica/immagini/GulpeaseRQ.png
  Esterni/PianoDiQualifica/immagini/MCD01.png
  Esterni/PianoDiQualifica/immagini/MCD02-06-07.png
  Esterni/PianoDiQualifica/immagini/MCD03-04.png
  Esterni/PianoDiQualifica/immagini/MCD05.png
  Esterni/PianoDiQualifica/immagini/cruscottoRP.png
  Esterni/PianoDiQualifica/immagini/fleschRQ.png
  Esterni/PianoDiQualifica/informazioni.tex
  Stile/mercuryseven.sty
Labels: Da approvare, Da verificare, Piano di Qualifica

#59 Miglioramenti Norme di Progetto
  Interni/NormeDiProgetto/components/norme-c2.tex
  Interni/NormeDiProgetto/components/norme-c3.tex
  Interni/NormeDiProgetto/components/norme-c4.tex
  Interni/NormeDiProgetto/components/registro_modifiche.tex
  Interni/NormeDiProgetto/informazioni.tex
  Stile/mercuryseven.sty
Labels: Norme di Progetto

#62 Fix typo AdR
  Esterni/AnalisiDeiRequisiti/components/uc/uc14.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc16.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc17.tex
Labels: Da approvare

#52 Aggiunta verbali
  Esterni/VerbaliEsterni/2021_03_22/VE_2021_03_22.tex
  Esterni/VerbaliEsterni/2021_03_22/components/registro_modifiche.tex
  Esterni/VerbaliEsterni/2021_03_22/components/verbale.tex
  Esterni/VerbaliEsterni/2021_03_22/informazioni.tex
  Esterni/VerbaliEsterni/2021_04_01/VE_2021_04_01.tex
  Esterni/VerbaliEsterni/2021_04_01/components/registro_modifiche.tex
  Esterni/VerbaliEsterni/2021_04_01/components/verbale.tex
  Esterni/VerbaliEsterni/2021_04_01/informazioni.tex
  Interni/VerbaliInterni/2021_03_18/VI_2021_03_18.tex
  Interni/VerbaliInterni/2021_03_18/components/registro_modifiche.tex
  Interni/VerbaliInterni/2021_03_18/components/verbale.tex
  Interni/VerbaliInterni/2021_03_18/informazioni.tex
  Interni/VerbaliInterni/2021_03_28/VI_2021_03_28.tex
  Interni/VerbaliInterni/2021_03_28/components/registro_modifiche.tex
  Interni/VerbaliInterni/2021_03_28/components/verbale.tex
  Interni/VerbaliInterni/2021_03_28/informazioni.tex
  Interni/VerbaliInterni/2021_04_16/VI_2021_04_16.tex
  Interni/VerbaliInterni/2021_04_16/components/registro_modifiche.tex
  Interni/VerbaliInterni/2021_04_16/components/verbale.tex
  Interni/VerbaliInterni/2021_04_16/informazioni.tex
Labels: Verbali
