Repository MercurySeven/project-docs, pull requests merged in 2021-01, with the labels that each got.

#5 Analisi dei requisiti
  .github/workflows/ci.yml
  Esterni/AnalisiDeiRequisiti/AnalisiDeiRequisiti.tex
  Esterni/AnalisiDeiRequisiti/UML/UC1.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC2.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC3.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC4.mdj
  Esterni/AnalisiDeiRequisiti/components/casiuso.tex
  Esterni/AnalisiDeiRequisiti/components/descrizioneprodotto.tex
  Esterni/AnalisiDeiRequisiti/components/fonte_requisiti.tex
  Esterni/AnalisiDeiRequisiti/components/img/UC1.png
  Esterni/AnalisiDeiRequisiti/components/img/UC2.png
  Esterni/AnalisiDeiRequisiti/components/img/UC2_1.png
  Esterni/AnalisiDeiRequisiti/components/img/UC2_2.png
  Esterni/AnalisiDeiRequisiti/components/img/UC2_3.png
  Esterni/AnalisiDeiRequisiti/components/img/UC2_4.png
  Esterni/AnalisiDeiRequisiti/components/img/UC3.png
  Esterni/AnalisiDeiRequisiti/components/img/UC4.png
  Esterni/AnalisiDeiRequisiti/components/introduzione.tex
  Esterni/AnalisiDeiRequisiti/components/registro_modifiche.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_fonte.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_funzionali.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_qualita.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_vincolo.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc1.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc2.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc3.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc4.tex
  Esterni/AnalisiDeiRequisiti/informazioni.tex
  Stile/mercuryseven.sty
Labels: Analisi dei Requisiti, Da approvare

#9 Norme progetto
  .github/workflows/ci.yml
  Interni/NormeDiProgetto/NormeDiProgetto.tex
  Interni/NormeDiProgetto/components/norme-c1.tex
  Interni/NormeDiProgetto/components/norme-c2.tex
  Interni/NormeDiProgetto/components/norme-c3.tex
  Interni/NormeDiProgetto/components/norme-c4.tex
  Interni/NormeDiProgetto/components/registro_modifiche.tex
  Interni/NormeDiProgetto/informazioni.tex
  Stile/mercuryseven.sty
  Tutorial/Sezioni/registro_modifiche.tex
Labels: Da approvare, Da verificare, Norme di Progetto

#8 Piano di progetto
  .github/workflows/ci.yml
  Esterni/PianoDiProgetto/Gantt/Analisi.gan
  Esterni/PianoDiProgetto/Gantt/consolidamento_requisiti.gan
  Esterni/PianoDiProgetto/Gantt/progettazione_architetturale.gan
  Esterni/PianoDiProgetto/Gantt/progettazione_dettaglio_codifica.gan
  Esterni/PianoDiProgetto/Gantt/validazione_collaudo.gan
  Esterni/PianoDiProgetto/PianoDiProgetto.tex
  Esterni/PianoDiProgetto/components/Introduzione.tex
  Esterni/PianoDiProgetto/components/Pianificazione.tex
  Esterni/PianoDiProgetto/components/analisi_rischi.tex
  Esterni/PianoDiProgetto/components/consuntivo.tex
  Esterni/PianoDiProgetto/components/img/Analisi.png
  Esterni/PianoDiProgetto/components/img/Analisi_isto.png
  Esterni/PianoDiProgetto/components/img/agile.png
  Esterni/PianoDiProgetto/components/img/analisi_torta.png
  Esterni/PianoDiProgetto/components/img/architettura_isto.png
  Esterni/PianoDiProgetto/components/img/architettura_torta.png
  Esterni/PianoDiProgetto/components/img/consolidamento_isto.png
  Esterni/PianoDiProgetto/components/img/consolidamento_requisiti.png
  Esterni/PianoDiProgetto/components/img/consolidamento_torta.png
  Esterni/PianoDiProgetto/components/img/dettaglio_isto.png
  Esterni/PianoDiProgetto/components/img/dettaglio_torta.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-da-orig.jpg
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-da.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-dg-orig.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-dg.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-fdm-orig.jpg
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-fdm.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-gc-orig.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-gc.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-lg-orig.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-lg.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-mp-orig.jpg
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-mp.png
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-tp-orig.jpg
  Esterni/PianoDiProgetto/components/img/firme_membri/firma-tp.png
  Esterni/PianoDiProgetto/components/img/progettazione_architetturale.jpg
  Esterni/PianoDiProgetto/components/img/progettazione_dettaglio_codifica.jpg
  Esterni/PianoDiProgetto/components/img/rendiconto_isto.png
  Esterni/PianoDiProgetto/components/img/rendiconto_torta.png
  Esterni/PianoDiProgetto/components/img/tot_torta.png
  Esterni/PianoDiProgetto/components/img/totale_isto.png
  Esterni/PianoDiProgetto/components/img/validazione_collaudo.jpg
  Esterni/PianoDiProgetto/components/img/validazione_isto.png
  Esterni/PianoDiProgetto/components/img/validazione_torta.png
  Esterni/PianoDiProgetto/components/modello_sviluppo.tex
  Esterni/PianoDiProgetto/components/organigramma.tex
  Esterni/PianoDiProgetto/components/preventivo.tex
  Esterni/PianoDiProgetto/components/registro_modifiche.tex
  Esterni/PianoDiProgetto/informazioni.tex
  Stile/mercuryseven.sty
Labels: Da verificare, Piano di Progetto

#24 Fix Analisi dei requisiti
  Esterni/AnalisiDeiRequisiti/AnalisiDeiRequisiti.tex
  Esterni/AnalisiDeiRequisiti/UML/UC1.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC2.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC3.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC4.mdj
  Esterni/AnalisiDeiRequisiti/components/casiuso.tex
  Esterni/AnalisiDeiRequisiti/components/fonte_requisiti.tex
  Esterni/AnalisiDeiRequisiti/components/img/UC1.png
  Esterni/AnalisiDeiRequisiti/components/img/UC2_1.png
  Esterni/AnalisiDeiRequisiti/components/img/UC2_2.png
  Esterni/AnalisiDeiRequisiti/components/img/UC3.png
  Esterni/AnalisiDeiRequisiti/components/img/UC4.png
  Esterni/AnalisiDeiRequisiti/components/requisiti.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_fonte.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_funzionali.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_qualita.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_vincolo.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc1.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc2.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc3.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc4.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc5.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc6.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc7.tex
Labels: Da approvare

#16 Piano di qualifica
  .github/workflows/ci.yml
  Esterni/PianoDiQualifica/PianoDiQualifica.tex
  Esterni/PianoDiQualifica/components/A_resoconto_attivita_di_verifica.tex
  Esterni/PianoDiQualifica/components/introduzione.tex
  Esterni/PianoDiQualifica/components/qualita_del_processo.tex
  Esterni/PianoDiQualifica/components/qualita_del_prodotto.tex
  Esterni/PianoDiQualifica/components/registro_modifiche.tex
  Esterni/PianoDiQualifica/informazioni.tex
  Stile/mercuryseven.sty
Labels: Da approvare, Da verificare, Piano di Qualifica
