Repository MercurySeven/project-docs, pull requests merged in 2021-03, with the labels that each got.

#42 Lettera di correzione
  Lettere/LetteraDiPresentazioneRR/LetteraDiPresentazione.tex
Labels: Lettera di Presentazione

#40 Aggiunta nuovi UC e fix vari
  Esterni/AnalisiDeiRequisiti/UML/UC2.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC3.mdj
  Esterni/AnalisiDeiRequisiti/UML/UC6.mdj
  Esterni/AnalisiDeiRequisiti/components/casiuso.tex
  Esterni/AnalisiDeiRequisiti/components/descrizioneprodotto.tex
  Esterni/AnalisiDeiRequisiti/components/fonte_requisiti.tex
  Esterni/AnalisiDeiRequisiti/components/img/UC2.png
  Esterni/AnalisiDeiRequisiti/components/img/UC3.png
  Esterni/AnalisiDeiRequisiti/components/img/UC6.png
  Esterni/AnalisiDeiRequisiti/components/introduzione.tex
  Esterni/AnalisiDeiRequisiti/components/registro_modifiche.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_fonte.tex
  Esterni/AnalisiDeiRequisiti/components/requisiti_funzionali.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc1.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc13.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc14.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc15.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc16.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc2.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc3.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc4.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc5.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc6.tex
  Esterni/AnalisiDeiRequisiti/informazioni.tex
  Stile/mercuryseven.sty
Labels: Analisi dei Requisiti, Da approvare

#39 Fix Norme di Progetto
  Interni/NormeDiProgetto/components/immagini/casouso.png
  Interni/NormeDiProgetto/components/immagini/corpodocumento.png
  Interni/NormeDiProgetto/components/immagini/frontespizio.png
  Interni/NormeDiProgetto/components/norme-c1.tex
  Interni/NormeDiProgetto/components/norme-c2.tex
  Interni/NormeDiProgetto/components/norme-c3.tex
  Interni/NormeDiProgetto/components/norme-c4.tex
  Interni/NormeDiProgetto/components/registro_modifiche.tex
  Interni/NormeDiProgetto/informazioni.tex
  Stile/mercuryseven.sty
Labels: Norme di Progetto

#45 Update registro_modifiche.tex
  Interni/NormeDiProgetto/components/registro_modifiche.tex
Labels: Da approvare, Norme di Progetto

#41 Fix Piano di Progetto
  Esterni/PianoDiProgetto/Gantt/progettazione_architetturale.gan
  Esterni/PianoDiProgetto/Gantt/progettazione_dettaglio_codifica.gan
  Esterni/PianoDiProgetto/Gantt/validazione_collaudo.gan
  Esterni/PianoDiProgetto/PianoDiProgetto.tex
  Esterni/PianoDiProgetto/components/Introduzione.tex
  Esterni/PianoDiProgetto/components/Pianificazione.tex
  Esterni/PianoDiProgetto/components/analisi_rischi.tex
  Esterni/PianoDiProgetto/components/attualizzazione.tex
  Esterni/PianoDiProgetto/components/consuntivo.tex
  Esterni/PianoDiProgetto/components/img/legenda.png
  Esterni/PianoDiProgetto/components/img/progettazione_architetturale.jpg
  Esterni/PianoDiProgetto/components/img/progettazione_architetturale.png
  Esterni/PianoDiProgetto/components/img/progettazione_dettaglio_codifica.PNG
  Esterni/PianoDiProgetto/components/img/progettazione_dettaglio_codifica.jpg
  Esterni/PianoDiProgetto/components/img/sprint10-11.PNG
  Esterni/PianoDiProgetto/components/img/sprint6-7.PNG
  Esterni/PianoDiProgetto/components/img/sprint8-9.PNG
  Esterni/PianoDiProgetto/components/img/validazione_collaudo.PNG
  Esterni/PianoDiProgetto/components/img/validazione_collaudo.jpg
  Esterni/PianoDiProgetto/components/modello_sviluppo.tex
  Esterni/PianoDiProgetto/components/registro_modifiche.tex
  Esterni/PianoDiProgetto/informazioni.tex
  Stile/mercuryseven.sty
Labels: Piano di Progetto

#43 Sistemare registro modifiche
  .github/workflows/ci.yml
  Esterni/AnalisiDeiRequisiti/components/descrizioneprodotto.tex
  Esterni/AnalisiDeiRequisiti/components/introduzione.tex
  Esterni/AnalisiDeiRequisiti/components/registro_modifiche.tex
  Esterni/AnalisiDeiRequisiti/components/uc/uc4.tex
  Esterni/AnalisiDeiRequisiti/informazioni.tex
Labels: Analisi dei Requisiti

#36 Miglioramenti PdQ
  Esterni/PianoDiQualifica/PianoDiQualifica.tex
  Esterni/PianoDiQualifica/components/A_resoconto_attivita_di_verifica.tex
  Esterni/PianoDiQualifica/components/introduzione.tex
  Esterni/PianoDiQualifica/components/qualita_del_processo.tex
  Esterni/PianoDiQualifica/components/qualita_del_prodotto.tex
  Esterni/PianoDiQualifica/components/registro_modifiche.tex
  Esterni/PianoDiQualifica/components/test_sistema.tex
  Esterni/PianoDiQualifica/immagini/cruscottoRP.png
  Esterni/PianoDiQualifica/informazioni.tex
  Stile/mercuryseven.sty
Labels: Piano di Qualifica

#47 Lettera di presentazione
  Lettere/LetteraDiPresentazioneRP/LetteraDiPresentazione.tex
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-da-orig.jpg
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-da.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-dg-orig.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-dg.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-fdm-orig.jpg
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-fdm.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-gc-orig.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-gc.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-lg-orig.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-lg.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-mp-orig.jpg
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-mp.png
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-tp-orig.jpg
  Lettere/LetteraDiPresentazioneRP/firme_membri/firma-tp.png
  Lettere/LetteraDiPresentazioneRP/informazioni.tex
Labels: Da approvare
